footer {
	position:absolute;
	width:100%;
	margin-top:auto;
	margin-bottom: 0;
	background-color:#666666;
	clear:both;
	border-top:10px;
	border-style:solid;
	border-color: #4aaaa5;
	height:40px;
	text-align:center;
	padding-top:40px;
	color:white;
}